/* styles for metric template page. */
.headingcontainer {
  width: 100%;
  border-top: 1px solid;
  margin-top: 2rem;
  display: block;
}

.relatedcontainer {
  width: 100%;
  display: block;
}

.relatedmetric {
  border-bottom: solid 1px;
}

.relatedrow {
  display: block;
  margin-left: 1rem;
}